@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#banner {
    background-image: url('../src/imagens/banner\ 3.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}

.title-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    gap: 40px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    cursor: pointer;
    transition: 1s;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

h1:hover {
    text-decoration: underline 2px solid white;
}

.logos {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.logos a img {
    width: 38px;
}

.logos a {
    transition: .7s;
}

.logos a:hover {
    transform: scale(1.2);
}

.contact {
    /* background-color: rebeccapurple; */
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

form {
    /* background-color: yellow; */
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    width: 75%;
    font-size: 1.2rem;
    font-weight: bold;
    color:  #f2f2f2;
    letter-spacing: 1px;
}

#name,
#email,
#number {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
}

textarea {
    width: 72%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.botao {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    transition: .7s;
}

.botao:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}