@media(max-width: 768px){

    body {
        overflow-x: hidden;
    }

    .footer-navegation {
        display: block;
        margin-top: 30px;
    }

    .footer-navegation a {
        margin-top: 20px;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 50%;
        background-size: contain;
        height: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 10px;
       
    }

    .title-logos {
        width: 100%;
        height: 200px;
    }

    .logos {
        gap: 60px;
    }

    .title h1 {
        font-size: 1.7rem;
    }

    .contact {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    form {
        width: 100%;
        height: 100%;
        gap: 0px;
    }

    form div {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    label {
        width: 75%;
    }

    
    #name,
    #email,
    #number{
        padding: 15px 20px;
    }

    textarea {
        padding: 15px;
    }

    .botao {
       padding: 15px 30px;
       margin: 30px auto;
    }

    footer {
        height: 390px;
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }


    .footer-navegation {
        width: 100%;
        margin-bottom: 50px;
    }

    .footer-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer-list a li {
        font-size: 1.2rem;
    }
}